<html>
  <head>
    <title>Update Settings</title>
    <meta name="decorator" content="atl.admin">
  </head>
  <body>
    <table width="100%" cellspacing="0" cellpadding="10" border="0">
      <tbody>
        <tr>
          <td>
            <table class="jiraform maxWidth">
              <tbody>
                <tr class="titlerow">
                  <td class="jiraformheader" colspan="2">
                    <h3 class="formtitle">Settings</h3>
                  </td>
                </tr>
                <tr>
                  <td class="jiraformbody">
                    <form action="configureRevikiPlugin!update.jspa" method="post">
                      <table>
                        <tr>
                          <td class="fieldLabelArea">Render Confluence-style links</td>
                          <td class="fieldValueArea">
                            <input type="checkbox"
                                   name="convertConfluence"
                                   #if($converting)checked="checked"#end
                            />
                            <div class="fieldDescription">Render Confluence-style links, e.g. <code>[FOO-1]</code>.</div>
                          </td>
                        </tr>
                        <tr>
                          <td class="fieldLabelArea">Inter-wiki links</td>
                          <td class="fieldValueArea">
                            <textarea name="interWikiLinks" style="height: 200px; width:100%">$textutils.htmlEncode($interLinks)</textarea>
                            <div class="fieldDescription">Inter-wiki links to use. Specify in the form &quot;prefix url&quot;, one per line, where &quot;%s&quot; in the target will be replaced with the link target.</div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <input type="submit" value="Save Settings">
                          </td>
                        </tr>
                      </table>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>